html,body{
    margin:0;
    padding: 0;
    font-size: 15px;
    .headerStyle {
        background: $theme-one;
        color: #fff;
    }
    .el-table--small td, .el-table--small th {
        padding: 1px 0;
    }
    .el-form-item {
        margin-bottom: 18px;
    }
    .nop {
        padding: 0;
    }
    .el-dialog {
        width: 300px !important;
    }
     .el-message-box {
        width: 300px !important;
      }
    .wper100{
        width:100% !important;
    }
    .red {
        color: $theme-one;
    }
    .font-12 {
        font-size: 12px;
    }
    .gray {
        color: $theme-four;
    }
    .mr10 {
        margin-right: 10px;
    }
    .blue {
        color: $theme-three;
    }
    .nob {
        border: 0;
    }
    div,span {
         box-sizing: content-box;
    }
    .p15 {
        padding: 15px;
    }
    .mb15{
        margin-bottom: 15px;
    }
    .mt15{
        margin-top: 15px;;
    }
    .m15 {
        margin: 15px;
    }
    .mtb15 {
        margin:15px 0;
    }
    .small-font {
        font-size: 12px;
    }
    .tc {
        text-align: center;
    }
}

