$border-color:#ccc;
$theme-one:#FA7362;
$theme-two:#f2f2f2;
$theme-three:#409EFF;
$theme-four:#999;
$theme-five:#C3CDD6;
$theme-six: #EAD0B3;


:export{
    trOddColor: #C3CDD6;
    trEvenColor: #EAD0B3;
}  